body{
    align-content: center;
    justify-content: center;
    background-color: #000000;
}
#containerGeral{
    align-self: center;
    justify-self: center;
    height: 800px;
    margin-left: auto;
    margin-right: auto  ;
    margin-bottom: auto;
    margin-top: 55px;
    width: 800px;
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
}
#containerDisplay{
    width: 100%;
    border-radius: 8px;
    margin: 15px 5px;
    justify-self: center;
    display: flex;
    background-color: #363636;  
    height: 150px;
    border: rgb(138, 137, 137) 2px solid;
    
    
}
#tela{
    background-color: rgb(0, 50, 0);
    width: 90%;
    height: 60%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: rgb(138, 137, 137) 2px solid;

}
#marca{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    color:rgb(148, 148, 148);
}
#containerBtnFnMemoria{}
#containerBtnNum{}
#containerBtnFn{

}